@model IEnumerable<TabloidMVC.Models.Reaction>

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-5">    
    <h1>Index of Reactions</h1>


<p>
    <a class="btn btn-primary" asp-action="Create">Create New Reaction</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLocation)
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                   <dl>
                        @if (item.ImageLocation == null)
                    {
                        <dt class="col-sm-5">
                            <img style="width:100px;float:left;margin-right:20px"
                                 src="https://avatars.dicebear.com/v2/female/c117aa483c649ecbc46c6d65172bf6e6.svg" />
                        </dt>
                    }
                    else
                    {
                        <dt class="col-sm-5">
                            <img style="width:100px;float:left;margin-right:20px"
                                 src="@item.ImageLocation" />
                        </dt>
                    }

                    </dl>
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
