@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserProfile</h4>
    <hr />
    <dl>
        @if (Model.ImageLocation == null){
        <dt class = "col-sm-10">           
             <img style="width:100px;float:left;margin-right:20px"
                 src="https://avatars.dicebear.com/v2/female/c117aa483c649ecbc46c6d65172bf6e6.svg" />           
        </dt>
        } else 
        {
             <dt class = "col-sm-10">           
             <img style="width:100px;float:left;margin-right:20px"
                 src="@Model.ImageLocation" />           
        </dt>
        }

    </dl>
    <dl class="row">
        @*<dt class = "col-sm-2">
            @html.displaynamefor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @html.displayfor(model => model.id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
